body{
background:#0b0b14;
color:white;
font-family:Arial;
margin:0;
}

header{
background:#111;
padding:20px;
display:flex;
justify-content:space-between;
}

.container{
padding:40px;
max-width:900px;
margin:auto;
}

.card{
background:#1a1a2e;
padding:25px;
border-radius:20px;
margin-bottom:20px;
}

button{
background:#e50914;
color:white;
border:none;
padding:10px 20px;
border-radius:20px;
margin:5px;
cursor:pointer;
}

input, select{
width:100%;
padding:12px;
margin:10px 0;
border-radius:10px;
border:none;
}
